extends ./layout.jade

block header
  | Schadendetails

block headerdesc
  p #{schaden.marke} #{schaden.model}

block content
  .panel.panel-default
    .panel-heading
      h3.panel-title  
        a(data-toggle='collapse', href='#collapse1') Schadendetails 
          span.glyphicon.glyphicon-menu-down(aria-hidden='true')
    #collapse1.panel-collapse.collapse
      table.table
        tr
          td(class="col-sm-2") Marke + Model
          td #{schaden.marke} #{schaden.model}
        tr
          td Zeit
          td #{schaden.datum} #{schaden.uhrzeit}
        tr
          td Verursacher
          td #{schaden.verursacher}
        tr
          td Unfallort
          td #{schaden.unfallort}
        tr
          td Halter
          td #{schaden.halter}
        tr
          td Unfallhergang
          td #{schaden.unfallhergang}
        tr
          td Sonstiges
          td #{schaden.sonstiges}
        tr
          td Melder
          td #{schaden.Melder.kennung}
        tr
          td Status
          td
            case schaden.status
                when "opened"
                  span.label.label-info opened
                when "work in progress"
                  span.label.label-warning  work in progress
                when "success"
                  span.label.label-success  success
        tr
          td Uploads
          td
            .row
              each image, index in schaden.bilder
                .col-xs-6.col-md-3
                  a.thumbnail(href='#', data-image-id='', data-toggle='modal', data-title="#{image.originalname}", data-caption='', data-image='/uploads/#{image.filename}', data-target='#image-gallery2')
                    img.img-responsive(src="/uploads/#{image.filename}", alt='Short alt text')

  .panel.panel-default
    .panel-heading
      h3.panel-title 
        a(data-toggle='collapse', href='#collapse2') Fahrzeugbewertung 
          span.glyphicon.glyphicon-menu-down(aria-hidden='true')
    #collapse2.panel-collapse.collapse
      .panel-body
        table.table
          tr
            td(class="col-sm-2") Bewertung des Fahrzeugs
            td 
              if !schaden.fahrzeugbewertung
                p Es wurde noch keine Fahrzeugbewertung durchgeführt
              else
                p #{schaden.fahrzeugbewertung}

  .panel.panel-default
    .panel-heading
      h3.panel-title 
        a(data-toggle='collapse', href='#collapse3') Rechnung / Kostenvoranschlag 
          span.glyphicon.glyphicon-menu-down(aria-hidden='true')
    #collapse3.panel-collapse.collapse
      .panel-body
        table.table
          tr
            td(class="col-sm-2") Kostenvoranschlag
            td 
              if !schaden.kostenvoranschlag
                p Es wurde noch kein Kostenvoranschlag gemacht
              else
                p #{schaden.kostenvoranschlag}
          tr
            td Rechnung
            td
              if !schaden.rechnung
                p Es wurde noch keine Rechnung hochgeladen
              else
                a(href="/uploads/#{schaden.rechnung.filename}") Rechnung herunterladen

  #image-gallery2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4#image-gallery-title.modal-title
        .modal-body
          img#image-gallery-image.img-responsive(src='')
        .modal-footer
          .col-md-2
            button#show-previous-image.btn.btn-primary(type='button') Zurück
          #image-gallery-caption.col-md-8.text-justify
            | This text will be overwritten by jQuery
          .col-md-2
            button#show-next-image.btn.btn-default(type='button') Weiter