extends ./layout.jade

block header
	| Übersicht

block headerdesc
	p Übersicht der Vorfälle

block content

	- var hallo = test
	p= hallo

	table#uebersicht.table.table-striped.table-bordered(cellspacing='0', width='100%')
		thead
			tr
				th Marke + Modell
				th Datum / Uhrzeit
				th Unfallort
				th Verursacher
				th Status
				th Aktion
		tbody
			each value, index in schadenArray
				tr
					td #{value.marke} #{value.model}
					td #{value.datum} #{value.uhrzeit}
					td #{value.unfallort}
					td #{value.verursacher}
					td 
						case value.status
							when "opened"
								i.fa.fa-circle.text-success   opened
							when "inprogress"
								i.fa.fa.circle.text-warning   work in progress
							when "closed"
								i.fa.fa.circle.text-error   closed
					th 
						a(href="/kunde/schaden/#{value._ID}") Vorfall öffnen

					