extends ./layout.jade

block header
	| Übersicht

block headerdesc
	p Übersicht der Vorfälle

block content

	- var hallo = test
	p= hallo

	table#uebersicht.table.table-striped.table-bordered(cellspacing='0', width='100%')
		thead
			tr
				th Marke + Modell
				th Datum / Uhrzeit
				th Unfallort
				th Verursacher
				th Status
				th Aktion
		tbody
			each value, index in schadenArray
				tr
					td #{value.marke} #{value.model}
					td #{value.datum} #{value.uhrzeit}
					td #{value.unfallort}
					td #{value.verursacher}
					td 
						case value.status
							when "opened"
								span.label.label-info opened
							when "work in progress"
								span.label.label-warning  work in progress
							when "success"
								span.label.label-success  success
					th 
						a(href="/kunde/schaden/#{value._id}") Vorfall öffnen

					